name: Preprocessing Workflow

on:
  push:
    branches:
      - main

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v4

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas seaborn matplotlib scikit-learn numpy joblib
    
    - name: Run preprocessing script
      run: |
        python preprocessing/automate_AlthafRafianto.py

    - name: Upload processed data
      uses: actions/upload-artifact@v3
      with:
        name: processed-data
        path: preprocessing/insurance_preprocessing/*.csv